---
layout: default
isMagento2: true
---

<div class="container main-content">
  <article class="page-content row">
    <div class="col-md-3 hidden-sm hidden-xs">
      <div class="menu">
        {% assign url = page.url %}

        <span class="header">Setup</span>
        <ul class="getting-started">
          <li>
            <a href="{{ site.baseurl }}/doc/m2/getting-started/" class="{% if url == '/doc/m2/getting-started/' %}active{% endif %}">Getting started</a>
          </li>
        </ul>

        <span class="header">Frequently Asked Questions</span>
        <ul class="getting-started">
          <li>
            <a href="{{ site.baseurl }}/doc/m2/faq-support-data/" class="{% if url == '/doc/m2/faq-support-data/' %}active{% endif %}">Data, Indexes, and Queues</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/doc/m2/faq-support-misc/" class="{% if url == '/doc/m2/faq-support-misc/' %}active{% endif %}">Customizing the extension</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/faq/" class="{% if url == '/faq/' %}active{% endif %}">General FAQ</a>
          </li>

        </ul>

        <span class="header">How it works</span>
        <ul class="how-it-works">
          <li>
            <a href="{{ site.baseurl }}/doc/m2/ui-ux/" {% if url == '/doc/m2/ui-ux/' %}class="active"{% endif %}>Frontend (UI/UX)</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/doc/m2/indexing/" {% if url == '/doc/m2/indexing/' %}class="active"{% endif %}>Indexing</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/doc/m2/indexing-queue/" {% if url == '/doc/m2/indexing-queue/' %}class="active"{% endif %}>Indexing Queue</a>
          </li>
          <li>
              <a href="{{ site.baseurl }}/doc/m2/analytics/" {% if url == '/doc/m2/analytics/' %}class="active"{% endif %}>Analytics</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/doc/m2/upgrade/" {% if url == '/doc/m2/upgrade/' %}class="active"{% endif %}>Upgrade to new version</a>
          </li>
        </ul>

        <span class="header">Customize</span>
            <ul class="customize">
                <li>
                    <a href="{{ site.baseurl }}/doc/m2/customize-autocomplete/" {% if url == '/doc/m2/customize-autocomplete/' %}class="active"{% endif %}>Autocomplete menu</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/doc/m2/customize-instantsearch/" {% if url == '/doc/m2/customize-instantsearch/' %}class="active"{% endif %}>Instant search page</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/doc/m2/frontend-events/" {% if url == '/doc/m2/frontend-events/' %}class="active"{% endif %}>Front-end custom events</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/doc/m2/backend/" {% if url == '/doc/m2/backend/' %}class="active"{% endif %}>Back-end custom events</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/doc/m2/logging-and-debugging/" {% if url == '/doc/m2/logging-and-debugging/' %}class="active"{% endif %}>Logging and debugging</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/doc/m2/caveats/" {% if url == '/doc/m2/caveats/' %}class="active"{% endif %}>Caveats</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/doc/m2/contributing/" {% if url == '/doc/m2/contributing/' %}class="active"{% endif %}>Contributing</a>
                </li>
            </ul>

                <!--
                <span class="header">Guides</span>
                <ul>
                    <li>
                        <a href="{{ site.baseurl }}/doc/m2/external-autocomplete-source/" {% if url == '/doc/m2/external-autocomplete-source/' %}class="active"{% endif %}>Adding autocomplete source</a>
                        {% if url == '/doc/m2/external-autocomplete-source/' %}
                        <ul>
                            {{ content | toc_generate }}
                        </ul>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/external-data/" {% if url == '/doc/m2/external-data/' %}class="active"{% endif %}>Adding data from outside of Magento</a>
                        {% if url == '/doc/m2/external-data/' %}
                        <ul>
                            {{ content | toc_generate }}
                        </ul>
                        {% endif %}
                    </li>
                </ul>
              -->
            </div>
          </div>
          <div class="col-md-9 documentation-content">
            <div class="header-section">
              <header>
                <h1 class="page-title">{{ page.title }}</h1>
              </header>
            </div>

            {{ content | toc_generate }}

            {{ content }}

          </div>
        </article>
      </div>
      <div class="spacer100 bg-white"></div>
