


/* GENERAL
// ------------------------- */
h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 1em;
}
.page-section {
  padding-top: 80px;
  padding-bottom: 70px;
}
.headline {
  text-align: center;
  font-size: 1.8em;
  margin-top: 0;

  &:after {
    display: block;
    content: ' ';
    height: 20px;
    border-bottom: 4px solid $magento-orange;
    margin: 0 auto 1em auto;
    width: 50px;
  }
}

q {
quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(fr) > q {
quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";
}
:lang(en) > q {
quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(es) > q {
quotes: "\00AB" "\00BB" "\201C" "\201D";
}
:lang(it) > q {
quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D";
}
:lang(de) > q {
quotes: "\201e" "\201c" "\201a" "\2018";
}
q:before {
content: open-quote;
}
q:after {
content: close-quote;
}

q:before,
q:after {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* JUMBOTRON
// ------------------------- */
.jumbotron {
  h1 {
    font-size: 2.2em;
    text-align: center;
    padding: 0;
    margin: 0;

    img.jumbotron-algolia_logo {
      height: 1.2em;
      position: relative;
      top: -0.1em;
      margin-right: 8px;
    }

    img.jumbotron-magento_logo {
      height: 1.8em;
      position: relative;
      top: -0.05em;
      margin-left: 8px;
    }
  }

  p {
    font-size: 1em;
    line-height: 1.3;
  }

  .latest-version {
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0 1.2em;
  }

  .buttons {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .badges {
    text-align: center;
    img {
      vertical-align: top;
    }
  }
}



/* LEAD GEN
// ------------------------- */
.page-section.lead-gen {
  width: 100%;
  margin: auto;
  text-align: center;
  float: left;
  top: -48px;
  position: relative;
  border-bottom: 2px solid $magento-orange;

  .btn {
    min-width: 240px;
  }
}


/* THE WHY
// ------------------------- */
.the-why p {
  font-size: 1.2em;
  font-family: $headings-font-family;
  line-height: 1.5;
}



/* INTEGRATE
// ------------------------- */
.integrate {
  padding-top: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;

  p {
    position: relative;
    top: 50px;
  }

  img {
    max-height: 180px
  }
}



/* DEMOS
// ------------------------- */
.demos {
  background: linear-gradient(#1990C1, #1d3657);
  position: relative;
  color: #fff;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiIG9wYWNpdHk9IjAuNCI+CjxyZWN0IHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiIGZpbGw9InRyYW5zcGFyZW50Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==")repeat center center / 22px;
    opacity: 0.3;
    top: 0;
    left: 0;
  }
  .demo {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    .ac-icon {
      width: 74px;
      height: 74px;
    }

    h3 {
      display: inline-block;
      padding-bottom: 0.3em;
      font-size: 1.2em;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscaled;
      border-bottom: 3px solid $magento-color;
    }
  }

  .img-responsive {
    max-width: 75%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), 0 0 16px rgba(black, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 0em;
    left: 0em;
    transform: scale(0.5);
    transition: top 1s ease, left 1s ease, transform 0.35s ease, opacity 0.6s ease;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      max-width: 60%
    }
  }

  .col-sm-7 {
    position: relative;
    height: 600px;
  }

  &.animated {
    .img-responsive {
      transform: scale(1);
      opacity: 1;
      z-index: 2;
      transition:
      top 1s ease 0.3s,
      left 1s ease 0.3s,
      transform 0.35s ease 0.3s,
      opacity 0.6s ease;


      &:hover {
        z-index: 10 !important;
        transform: scale(1.1);
        transition: transform 0.6s ease 0s !important;
      }
    }
    .demo:nth-child(1) {
      img {
        &:nth-of-type(2) {
          top: 10em;
          left: 10em;
          z-index: 1;
        }
      }
    }
    .demo:nth-child(2) {
     img {
      &:nth-of-type(1) {
        left: 10em;
      }
      &:nth-of-type(2) {
        top: 10em;
        left: 0;
        z-index: 1;
      }
    }
  }
}
}


/* FEATURES
// ------------------------- */
.features {

  .row {
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 1em;
  }


  h3 {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
  }

  p {
    color: #3f3f3f;
  }

  .bubble-outer {
    border: 1px solid #e5edef;
    border-radius: 50%;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    clear: both;
  }

  .bubble {
    width: 155px;
    height: 155px;
    border: 3px solid $magento-orange;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 185%;
      max-width: initial;
      margin-left: 15%;
      margin-top: 5%;
      margin-bottom: -90%;
    }

    @media (max-width: $screen-lg ) {
      width: 120px;
      height: 120px;
    }
  }

  .ac-icon {
    width: 54px;
    height: 54px;
    padding: 0 0.5em;
    margin-top: 0em;
    display: block;
  }

  .col-md-6 .ac-icon {
    display: inline-block;
  }
  .col-md-6:nth-child(odd) {
    h3 {
      margin-right: 1em;
    }
    .ac-icon {
      float: right;
    }
  }

  .col-md-6:nth-child(even) {
    h3 {
      margin-left: 1em;
    }
    .ac-icon {
      float: left;
    }
  }

  .github {
    text-align: center;

    h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: normal;
    }

    .ac-icon {
      width: 60px;
    }
  }

}



/* SHOWCASES
// ------------------------- */
.showcases {
  background: $dark-blue;
  text-align: center;
  font-weight: 300;
  color: #FFF;

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  p, ul {
    text-align: left;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding-left: 1em;
    }

    li:before {
      content: '\2192';
      color: $magento-orange;
      position: relative;
      left: -1em;
    }
  }

  a {
    color: #fff;

    &:hover {
      color: $magento-orange
    }
  }

  .col-sm-4 {
    margin-bottom: 2em;
    flex: 33%;

    @media (max-width: $bp-small) {
      flex: 50%
    }
  }

  .showcase {
    display: inline-block;
    height: auto;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    &.fixme {
      color: #666;
      width: 100%;
      height: 323px;
      border: currentColor 4px dashed;
      line-height: 323px;
      font-size: 2em;
      margin-top: 56px;

      &:hover {
        color: $magento-orange;
      }

      @media (max-width: $screen-md) {
        height: 220px;
        line-height: 220px
      }
    }
  }

  .showcase-link, .showcase-join {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #FFF;
  }
  .showcase-link:hover {
    color: $magento-orange;
    text-decoration: none;
  }
}

/* PARTNERS
// ------------------------- */
.partners {
  overflow: hidden;
  background: #1990C1;
  color: #333333;

  .headline,
  p {
    color: #fff;
  }

  .col-md-12 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3em;

    .col-md-6 {
      flex: 50%;
      position: relative;
    }
  }

  .cover {
    float: left;
    width: 100%;
    padding: 0 1em;
    height: 100px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    @media (max-width: $bp-medium ) {
      padding: 1em;
    }


    li {
      flex: calc(33% - 2em);
      border: 1px solid #ccc;
      border-radius: 6px;
      margin: 1em 1em;
      text-align: center;
      min-height: 200px;
      box-shadow: 0 0.25em 0.3em 0 rgba(0, 0, 0, 0.1);
      background: #fff;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      align-self: flex-end;



      @media (max-width: $bp-medium ) {
        flex: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 2em;
      }

      a {
        color: #1990C1;
        font-weight: 600;
      }


      &:hover,
      &.highlight {
        box-shadow: inset 0 0 0 3px $magento-color;
        border-color: $magento-color;

        a {
          color: $magento-color
        }
      }

      img {
        display: block;
        margin: 1em auto;
        clear: both;
        max-width: 100%;
        max-height: 62px;
      }

      span {
        width: auto;
        display: block;
        text-align: center;
        position: relative;
        padding: 0 0 1em;

        &.localization {
          font-size: 10px;
          line-height: 1.6;
          opacity: 0.6;
          padding: 0 1em;

        }

        &.localization:before {
          content: '';
          display: inline-block;
          position: relative;
          top: 2px;
          left: 0;
          width: 32px;
          height: 18px;
          background: url("data:image/svg+xml;utf8,<svg width=\'29\' height=\'43\' viewBox=\'0 0 29 43\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M14.978 41.615c.106-.136.302-.393.574-.758a103.868 103.868 0 0 0 6.03-9.076c1.77-3.005 3.265-5.928 4.392-8.696 1.476-3.625 2.28-6.872 2.28-9.664C28.253 6.54 21.666 0 14.188 0 6.57 0 .414 6.293.37 13.815c-.018 2.795.805 6.078 2.328 9.764 1.096 2.65 2.53 5.45 4.22 8.326a104 104 0 0 0 5.917 8.957c.267.36.46.614.563.75l.788 1.017.792-1.015zM8.64 30.895c-1.645-2.804-3.037-5.522-4.093-8.08-1.43-3.46-2.193-6.502-2.178-8.988C2.41 7.393 7.68 2 14.19 2c6.375 0 12.063 5.65 12.063 11.42 0 2.494-.745 5.505-2.13 8.91-1.088 2.67-2.54 5.51-4.264 8.435-1.415 2.4-5.66 8.735-5.66 8.735s-4.17-6.243-5.56-8.606zm5.626-8.756a8.24 8.24 0 0 0 8.24-8.242 8.24 8.24 0 1 0-8.24 8.24zm0-2a6.24 6.24 0 1 1 0-12.483 6.24 6.24 0 0 1 0 12.482z\' fill=\'%23333333\' fill-rule=\'evenodd\'/></svg>")no-repeat center center / contain;
          z-index: 2;
        }
      }
    }
  }

  // Brands tiles container
  .col-md-6:nth-child(1) {
    // background: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    @media (max-width: $bp-medium ) {
      &:not(.quote) {
        padding: 0;
      }
    }
  }

  @media (max-width: 960px) {
    .col-md-6.quote {
      flex: 100%;
      width: 100%;
      max-width: 100%;
    }

    .map-container {
      display: none;
    }
  }
  .map {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img,
    svg {
      width: 100%;
    }
  }
}
g#Pins  path {
  cursor: pointer;
  position: relative;
  z-index: 0;
  transform: translateZ(0);
  transition: opacity 0.2s ease;
}
g#Pins g.fade path {
  opacity: 0;
  transform: scale(0);
}
g#Pins g.highlight path,
g#Pins g path:hover {
  transform: scale(2.2) translateY(-35%) translateZ(99px);
  transform-origin: 50%;
  transform-origin: center center;
  transition: transform 0.2s ease;
  fill: lighten($magento-color,1);
  stroke: #ff9b5e;
  stroke-width: 1;
  position: absolute;
  z-index: 99;
}


//// Lets make things fancier
#install:target .btn.install {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 6px;
    border: 1px solid rgba($magento-orange, 0.5);
    animation: targetted 1s ease 10;
  }

  &.btn-white:after {
    border-color: rgba(white, 0.5);
  }
}
/* QUOTES
// ------------------------- */
.testimonial {
  color: #fff;
  display: flex;
  flex-flow: row wrap;

  .cf {
    margin-bottom: 2em;
    display: block;

  }

  .quote {
    margin: auto;
    clear: both;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 1em 1em;
    text-align: center;
    min-height: 200px;
    padding: 1em  ;
    box-shadow: 0 0.25em 0.3em 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
    flex: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2em;

    q {
      font-style: italic;
      font-size: 1.4em;
      line-height: 38px;
      font-size: 14px;
      color: rgba(black, 0.5);
      padding: 2.5em;

      &:before,
      &:after {
        color: darken(#1990C1, 20%)
      }
    }

    @media all and (max-width: 768px) {
      flex: 100%
    }
  }

  .quote_author {
    max-width: 420px;
    margin: auto;
    text-align: center;
    color: rgba(black, 0.5);
    font-size: 14px;
  }

  .avatar {
    display: inline-block;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: #fff;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 0.25em 0.3em 0 rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .name,
  .role,
  .company {
    display: block;
    width: 100%;
  }
}

@keyframes targetted {
  0% {
    opacity: 1;
    transform: scale(1)
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}