.main-content {
  margin-top: $navbar-height;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before {
  content: " ";
  display: block;
  height: $navbar-height;
  margin-top: -$navbar-height;
}

.menu {
  position: relative;
  top: 45px;
  width: calc(220px + 3em);
  list-style-type: none;
  font-size: .8em;
  background-color: white;
  border-radius: 3px;
  margin: 2px;
  margin-bottom: 8px;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  overflow-y: auto;

  @media (max-width: $bp-big) {
      width: calc(200px + 3em);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
    border-left: 4px solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

     li,
     li:last-child:only-child {
      // border: 1px solid rgba(#c5cad8, 0.4);
      border-left: none;
      &:not(:last-child) {
        border-bottom: none;
      }
    }

    > li > ul li {
      border-bottom: none;
    }

    li ul a {
      padding-left: 15px;
      font-size: 13px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  span.header {
    display: block;
    margin: 30px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
    &:first-child {
      margin-top: 0;
    }
  }

  a {
    display: block;
    padding: 2px 0;
    font-size: 15px;
    color: #555;

    &:hover,
    &.active {
      font-weight: bold;
      text-decoration: underline;
    }

    &.getting-started {
      font-size: 16px;
      padding: 0 1em;
    }
  }

  ul {
    &.getting-started {
      border-left-color: mix(#AE00DD, #fff, 60%);
    }

    &.how-it-works {
      border-left-color: #1D96C7;
    }

    &.customize {
      border-left-color: #F5A623;
    }

    &.guides {
      border-left-color: #9EDE5B;
    }

    &.troubleshooting {
      border-left-color: #fcfc02;
    }

  }
}

.documentation-content {
  h1 {
    margin-top: 50px;
    &:after {
      display: block;
      content: ' ';
      height: 10px;
      border-bottom: 1px solid $magento-orange;
      margin: 0 auto 1em auto;
    }
  }

  h2 {
    margin-top: 2em;
  }

  h3 {
    font-size: 1.4em;
    font-weight: bold;
  }

  h4 {
    font-size: 1.1em;
    font-weight: bold;
  }

  table {
    width: 100%;
    td {
      border: 1px solid $magento-orange;
      padding: 2px 0 2px 7px;

    }
    tr {
      td:first-child {
        font-weight: bold;
      }
      td:nth-child(2) {
        font-style: italic;
      }
    }
  }

  .toc_menu {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lighten(#F06721, 30%);
    list-style: none;
    margin-left: 0;
    padding-left: 25px;
    li:before {
      content: "#";
      font-size: 14px;
      padding-right: 10px;
      color: gray;
    }
    a {
      font-size: 15px;
    }
  }

}

.faq {
  p, li, figure {
    width: 80ch;
    font-size: 15px;
  }
  h2 {
    border-bottom: 1px solid $magento-orange;
    margin-top: 2em;
  }
}

figure {
  margin: 30px 0;
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
  }
}
